[Unit]
Description=Tdarr Remote Node (Rootless)
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=tdarr-node
HostName=tdarr-node
Image=ghcr.io/haveagitgat/tdarr_node:latest
AutoUpdate=registry
PublishPort=[::]:8267:8267
AddDevice=/dev/dri:/dev/dri:rw
Environment=TZ=America/New_York
Environment=nodeName=your-node-name
Environment=nodeID=your-node-name-node
Environment=serverURL=http://your-server:8266
Volume=%h/tdarr/node-logs:/app/logs
Volume=/media/Videos/Movies:/media/movies:rw
Volume=/media/Videos/tvshows:/media/tvshows:rw
Volume=/temp:/temp
# you meed to share the same temp drive as the server via a network mount 
NoNewPrivileges=true
Tmpfs=/app/unmappedNodeCache:size=1G,rw,mode=1777
Tmpfs=/tmp:size=1G,rw,mode=1777
Tmpfs=/run:size=64M,rw,mode=1777
Tmpfs=/app/configs:size=32M,rw,mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
