[Unit]
Description=Paperless NGX Webserver
Wants=podman-user-wait-network-online.service paperless-redis.service
After=podman-user-wait-network-online.service
PropagatesStopTo=paperless-redis.service

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
ContainerName=paperless-webserver
HostName=paperless-webserver
AutoUpdate=registry
PublishPort=8000:8000
Environment=PAPERLESS_TIME_ZONE=America/New_York
Environment=TZ=America/New_York
Environment=PAPERLESS_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://YOUR_HOSTNAME:8000
Environment=PAPERLESS_URL=http://YOUR_HOSTNAME:8000
Environment=PAPERLESS_REDIS=redis://localhost:6379
Environment=PAPERLESS_TASK_WORKERS=2
Environment=PAPERLESS_WEBSERVER_WORKERS=2
Environment=PAPERLESS_THREADS_PER_WORKER=2
UserNS=keep-id
Volume=%h/paperless/data:/usr/src/paperless/data
Volume=%h/paperless/media:/usr/src/paperless/media
Volume=%h/paperless/export:/usr/src/paperless/export
Volume=%h/paperless/consume:/usr/src/paperless/consume
#SecurityLabelDisable=true
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
AddCapability=CAP_FOWNER
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID
Mount=type=tmpfs,destination=/run,tmpfs-size=64m,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=128m,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
Memory=12G
CPUAccounting=yes
CPUShares=512
CPUQuota=600%

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
