VERBOSE=OFF
MLAT_SERVER=mlat.adsbnetwork.com:50000
MLAT_HOST=ultrafeeder:30005
MLAT_RESULTS=beast,connect,ultrafeeder:31004
LAT=YOUR_LATITUDE
LON=YOUR_LONGITUDE
ALT_M=YOUR_ALTITUDE
RV_CONTRIB_NAME="YOUR_NAME"
RV_CONTRIB_EMAIL=YOUR_EMAIL
BEASTHOST=ultrafeeder:30002
RV_STATION_LABEL=YOUR_STATION_LABEL
RV_STATION_UID=YOUR_STATION_UID
ENABLE_MLAT=on
PRIVATE_MLAT=off
