[Unit]
Description=Syncthing Pihole 1 Container Service
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=docker.io/syncthing/syncthing:latest
ContainerName=syncthing
HostName=syncthing
AutoUpdate=registry
UserNS=keep-id
PublishPort=8384:8384/tcp
PublishPort=22000:22000/tcp
PublishPort=22000:22000/udp
PublishPort=21027:21027/udp
Label=io.podman.annotations.podman.opts="--hostname=syncthing-pihole1"
Volume=%h/syncthing/config:/var/syncthing/config
Volume=%h:%h
Volume=/mnt/sda1/backupfrom40/:/mnt/sda1/backupfrom40/
LogDriver=k8s-file
LogOpt=max-size=10m
LogOpt=max-file=3
Environment=TZ=America/New_York
NoNewPrivileges=true
ReadOnly=true
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_FOWNER
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/syncthing/.config,tmpfs-size=128M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
